<h3>Create new password</h3>
<form class="form-inline" id="createForm">
	<div>
		<input type="text" id="createForm-name" class="input" placeholder="password name">
	</div>
	<input type="text" name="username" id="createForm-username" class="input" placeholder="username">
	<input type="password" name="password" id="createForm-password" class="input" placeholder="new password">
	<input type="password" name="password2" id="createForm-password2" class="input" placeholder="repeat new password">
	<button type="submit" id="createForm-submit" class="btn btn-primary">Create</button>
	<button type="submit" id="createForm-cancel" class="btn">Storno</button>
</form>