<h3>Pony Express.js</h3>
<form class="form-horizontal" id="loginForm">
	<div class="control-group">
		<label class="control-label" for="username">Pony name</label>
		<div class="controls">
			<input type="text" id="loginForm-username" placeholder="username">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="password">Pony Password</label>
		<div class="controls">
			<input type="password" id="loginForm-password" placeholder="password">
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<button type="submit" id="loginForm-submit" class="btn btn-primary">Pony me!</button>
		</div>
	</div>
	<img src="/images/rainbow-dash.png">
</form>